.sign{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:300px auto;
}  
.login{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:300px auto;
}

 fieldset{
   border-radius: 20px;
   border: 1px solid black;
   padding: 40px;  
   max-width: 400px;
   height: 50%;
} 
 input{
    padding-top: 12px;
    padding-bottom: 20px;;
    margin-top: 8px ;
    margin-bottom: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid;
    width: 50%;
    height: 100%;
    padding: 10px;
 }
 button{
    padding: 8px;
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-left: 25%;
 }
 h1{
    text-align: center;
    color: white;
 }
 .head{
   background-color: gray;
   padding:5%;
 }
 .link{
   margin: 20px;
   text-align: center;
 }
 .link > a{
   padding: 5px;
 }